#banner_image
{
padding-top: 75px;
padding-bottom: 50px;
text-align: center;
color: #f8f8f8;
background: url(intro-bg_1.jpg) no-repeat center;
background-size: cover;
}
#banner_content
{
position: relative;
padding-top: 6%;
padding-bottom: 6%;
margin-top: 12%;
margin-bottom: 12%;
background-color: rgba(0, 0, 0, 0.7);
max-width: 660px;
}
#footer_content
{
padding: 10px 0;
background-color: #101010;
color:#9d9d9d;
bottom: 0;
width: 100%;    
}
.row_margin
{
margin-top: 120px;
margin-bottom: 150px;
}
.row_margin-1
{
margin-top: 80px;
margin-bottom: 100px;
}
.row_margin-2
{
margin-top: 50px;
margin-bottom: 50px;
}
.row_margin-3
{
margin-top: 10px;
}
.row_margin-4
{
margin-top: 80px;
margin-bottom: 20px;
}
.row_margin-5
{
margin-top: 120px;
margin-bottom: 350px;
}
.row_margin-6
{
margin-top: 120px;
margin-bottom: 210px;
}
.row_margin-7
{
margin-top: 120px;
margin-bottom: 400px;
}